@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply rounded w-24 h-12 px-1 py-1 
  
    bg-transparent text-red
    border border-surface1 border-b-4

    hover:rounded
    hover:bg-red
    hover:text-crust
    hover:border-transparent
    hover:border-b-4
    
    transition-all duration-200 ease-in-out;
  }

  .button:hover {
    @apply rounded
    bg-red
    text-crust
    border-transparent
    border-b-4;
  }

  .sidebar-button {
    @apply rounded-full w-14 h-14 text-crust mx-1 my-2
        shadow-2xl border-4 border-overlay0

    hover:bg-lavender 
    hover:border-transparent
    
    transition-all duration-500 origin-center ease-in-out;
  }

  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-5 min-w-max left-16 z-10
    rounded-md shadow-md
    bg-lavender text-crust
    text-xs font-bold scale-0
    transition-all duration-200 origin-left ease-in-out;
  }

  .hashtag {
    @apply inline-block bg-blue rounded-full px-2 py-1 text-base text-xs m-2;
  }

  .fileinput {
    @apply block pr-1 w-60
    bg-crust placeholder:text-overlay0 text-subtext0 
    rounded-lg border-2 border-surface1
    
    hover:border-red
    hover:cursor-pointer
    file:hover:cursor-pointer
    file:hover:bg-red
    file:border-0
    file:bg-surface1
    file:p-1
    file:h-full

    file:transition-all 
    
    focus:outline-none
    focus:border-red

    transition-all duration-200 origin-left ease-in-out;
  }

  .forminput {
    @apply p-1 w-60
    bg-crust placeholder:text-overlay0 text-subtext0 
    rounded-lg border-2 border-surface1
    hover:border-red   

    focus:outline-none
    focus:border-red

    transition-all duration-200 origin-left ease-in-out;
  }
}
